*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green : #92cccd;
    --text-color : #445876;
    --dark-bgcolor : #31343d;
    --bgcolor : #ededf6;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--bgcolor);
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dark-bgcolor);
}
header .logo{
    background: var(--green);
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--dark-bgcolor);
    padding: 0 10px 0 50px;
    cursor: pointer;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-right: 30px;
}
header nav a{
    color: var(--green);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 5px;
    margin: 10px;
    border-bottom: 4px solid var(--green);
}

footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
    margin-top: 50px;
}
.section-title{
    width: 20%;
    color: var(--text-color);
    font-size: 3rem;
    height: 100%;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    line-height: 1.3;
}
.contact-details{
    width: 80%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid var(--text-color);
}
.contact-details a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    padding-bottom: 5px;
    border-bottom: 5px solid var(--text-color);
}
.hero{
    position: relative;
    width: 100%;
    height: 30vh;
}
.hero img{
    width: 100%;
    height: 30vh;
    z-index: -1;
}
.hero h1{
    position: absolute;
    right: 100px;
    bottom: 30px;
    color: var(--dark-bgcolor);
    background: var(--green);
    font-size: 2rem;
    font-weight: 1000;
    padding: 5px 10px;
    z-index: 1;
}

.about-me{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.about-me .about-me-content{
    width: 80%;
    height: 100%;
    color: var(--text-color);
    padding-right: 100px;
    padding-left: 40px;
    border-left: 5px solid var(--text-color);
}

.work{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.work-content{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-left: 5px solid var(--text-color); 
    padding-right: 100px;
    padding-left: 40px;
    
}
.work-content .img{
    width: 48%;
    min-height: 100%;
    border: 5px solid var(--green);
    margin: 10px;
    position: relative;
}
.work-content .img img{
    width: 100%;
    height: 100%;
}
.work-content .img1{
    width: 100%;
}
.work-content .img1 img{
    width: 100%;
    height: 100%;
}
.work-content .project-detail{
    position: absolute;
    bottom: 20%;
    background: var(--green);
    color: var(--text-color);
    padding: 10px;
}