*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global colors define */
:root{
    --green : #92cccd;
    --text-color : #445876;
    --dark-bgcolor : #31343d;
    --bgcolor : #ededf6;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--bgcolor);
}

/* common flex space-between css properties */
.flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* common flex space-between css properties */
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* common flex-start css properties */
.flex-start{
    align-items: flex-start;
}
/* common flex-wrap css properties */
.flex-wrap{
    flex-wrap: wrap;
}

/* header styling */
header{
    width: 100%;
    height: 10vh;
    background: var(--dark-bgcolor);
}
/* header logo styling */
header .logo{
    background: var(--green);
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--dark-bgcolor);
    padding: 0 10px 0 50px;
    cursor: pointer;
}
/* navigation bar styling */
header nav{
    padding: 20px;
    margin-right: 30px;
}
header nav a{
    color: var(--green);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 5px;
    margin: 10px;
    border-bottom: 4px solid var(--green);
}

/* hero section below navigation bar styling */
.hero{
    position: relative;
    width: 100%;
    height: 30vh;
}
/* hero section developer's image styling */
.hero .bg-img img{
    width: 100%;
    height: 30vh;
    z-index: -1;
}
.hero .avatar-img{
    position: absolute;
    bottom: 110px;
    height: 100px;
    z-index: 1;
}
.hero .avatar-img img{
    width: 280px;
    height: 220px;
}
/* hero section text styling */
.hero h1{
    position: absolute;
    right: 100px;
    bottom: 30px;
    color: var(--dark-bgcolor);
    background: var(--green);
    font-size: 2rem;
    font-weight: 1000;
    padding: 5px 10px;
    z-index: 1;
}

/* common section title styling at side of each section */
.section-title{
    width: 25%;
    color: var(--text-color);
    font-size: 3rem;
    height: 100%;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    line-height: 1.3;
}

/* about me section styling */
.about-me{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
/* about me text styling */
.about-me .about-me-content{
    width: 75%;
    height: 100%;
    color: var(--text-color);
    padding-right: 100px;
    padding-left: 40px;
    border-left: 5px solid var(--text-color);
}

/* work section styling */
.work{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.work-content{
    width: 75%;
    height: 100%;
    padding-right: 100px;
    padding-left: 40px;   
    border-left: 5px solid var(--text-color);
}
.work-content .img{
    width: 47.5%;
    height: 200px;
    border: 5px solid var(--green);
    margin: 10px;
    position: relative;
    transition: 0.5s;
}
.work-content .img:hover{
    transform: translateY(-10px);
}
.work-content .img img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.work-content .img1{
    width: 100%;
    height: 100%;
}
.work-content .project-detail{
    position: absolute;
    bottom: 20%;
    background: var(--green);
    color: var(--text-color);
    padding: 10px;
}

/* contact me section styling */
.contact-me{
    width: 100%;
    height: 20vh;
    padding: 10px 0;
    margin-top: 50px;
}
.contact-details{
    width: 75%;
    height: 100%;
    padding-right: 100px;
    font-weight: bold;
    text-align: center;
    border-left: 5px solid var(--text-color);
}
.contact-details a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    padding-bottom: 5px;
    border-bottom: 5px solid var(--text-color);
}
.contact-details a:hover{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* resume section styling */
.resume{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.resume-content{
    width: 75%;
    height:100px;
    flex-direction: column;
    border-left: 5px solid var(--text-color); 
    padding-right: 100px;
    padding-left: 40px;
    
}
.resume-content p{
    color: var(--text-color);
}
.resume-content a{
    text-decoration: none;
    color: white;
    background: var(--text-color);
    padding: 10px 20px;
    border-radius: 25px;
    border: 3px solid var(--text-color);
    transition: 0.2s;
}
.resume-content a:hover{
    color: var(--text-color);
    background: var(--bgcolor);
}

/* footer styling */
footer{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
footer p{
    background: var(--text-color);
    color: var(--green);
    padding: 20px;
    text-align: right;
}

@media screen and (max-width: 980px) {
    .section-title{
        font-size: 1.3rem;
        padding-right: 10px;
    }
    header{
        height: 6vh;
    }
    header .logo{
        width: 30%;
        padding: 0 10px 0 25px;
        font-size: 1rem;
        cursor: pointer;
    }
    /* navigation bar styling */
    header nav{
        padding: 15px;
        margin-right: 10px;
    }
    header nav a{
        font-size: 0.6rem;
        padding: 2px;
        margin: 2px;
        border-bottom: 4px solid var(--green);
    }
    .hero{
        position: relative;
        width: 100%;
        height: 15vh;
    }
    /* hero section developer's image styling */
    .hero .bg-img img{
        width: 100%;
        height: 15vh;
        z-index: -1;
    }
    .hero .avatar-img{
        top: 10px;
    }
    .hero .avatar-img img{
        width: 120px;
        height: 90px;
    }
    /* hero section text styling */
    .hero h1{
        right: 20px;
        bottom: 10px;
        font-size: 1rem;
        font-weight: 800;
    }
        
    .about-me{
        margin-top: 25px;
    }
    .about-me .about-me-content{
        padding-right: 20px;
        padding-left: 15px;
        border-left: 4px solid var(--text-color);
    }
    .about-me .about-me-content p{
        font-size: 14px;
    }
    .contact-me{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .contact-details{
        height: auto;
        padding-right: 0;
        justify-content: center;
        flex-direction: column;
        border-left: 4px solid var(--text-color);
    }
    .contact-details a{
        font-size: 0.7rem;
        border-bottom: 4px solid var(--text-color);
    }
    .resume{
        margin-top: 20px;
    }
    .resume-content{
        border-left: 4px solid var(--text-color); 
        padding-right: 0;
        padding-left: 0;  
    }
    .resume-content p{
        text-align: center;
        font-size: 14px;
    }
    .resume-content a{
        font-size: 14px;
        padding: 5px 10px;
        border: 2px solid var(--text-color);
    }
    footer{
        margin-top: 10px;
    }
    footer p{
        font-size: 12px;
        padding: 10px;
    }
}